$primary-color: #858585;
$secondary-color: #081687;
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.3s ease-out;
}

@mixin animate($del) {
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-delay: $del; 
}

@mixin background($idx, $set) {
    background-attachment: fixed;
    background-size: cover;

    &:after {
      content: '';
      position: $set;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: $idx;
      background: rgb(66,66,66);
      background: linear-gradient(90deg, rgba(66,66,66,1) 25%, rgba(213,194,194,1) 50%, rgba(66,66,66,1) 75%);
    }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #0000;
  } @else {
    @return #ffff;
  }
}

//Media queries
@mixin smallDevices {
  @media screen and (max-width: 350px) {
    @content;
  }
}

@mixin mediumDevices {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin largeDevices {
  @media screen and (max-width: 5000px) and (min-width: 801px) {
    @content;
  }
}